@import '../../variables/sizing.css';

body {
	font-size: 100%;
}

.text {
	font-size: 1.5625rem;
	line-height: 1.4;
}
.text.stretch {
	line-height: 2;
}

.text.xxs { font-size: 0.85rem; }
.text.xs { font-size: 1rem; }
.text.s { font-size: 1.25rem; }
.text.l { font-size: 1.9375rem; }
.text.xl { font-size: 2.5rem; }
.text.xxl { font-size: 3rem; }
