@import '../../variables/sizing.css';

body {
	font-size: 100%;
}

.text {
	font-family: 'Montserrat';
	font-size: 1.5625rem;
	line-height: 1.4;
	letter-spacing: 0.03em;
	color: #2f2f2f;
}
.text.stretch {
	line-height: 2;
}

.text.xxs { font-size: 0.85rem; }
.text.xs { font-size: 1rem; }
.text.s { font-size: 1.25rem; }
.text.l { font-size: 1.9375rem; }
.text.xl { font-size: 2.5rem; }
.text.xxl { font-size: 3rem; }

.text.thin { font-weight: 100; }
.text.extralight { font-weight: 200; }
.text.light { font-weight: 300; }
.text.medium { font-weight: 500; }
.text.semibold { font-weight: 600; }
.text.bold { font-weight: 700; }
.text.extrabold { font-weight: 800; }
.text.black { font-weight: 900; }

.text.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.text.preserve {
	white-space: pre;
}
