@import '../../variables/sizing.css';
@import '../../variables/colors.css';

.container {
	display: flex;
}

.container.vertical { flex-direction: column; }
.container.horizontal { flex-direction: row; }

.container.align-center { align-items: center; }
.container.justify-center{ justify-content: center; }
.container.align-right { align-items: flex-end;; }
.container.justify-right { justify-content: flex-end; }

.container.margin { margin: var(--gutter); }
.container.margin-v { margin: var(--gutter) 0; }
.container.margin-h { margin: 0 var(--gutter); }
.container.margin-left { margin-left: var(--gutter); }
.container.margin-right { margin-right: var(--gutter); }
.container.margin-top { margin-top: var(--gutter); }
.container.margin-bottom { margin-bottom: var(--gutter); }

.container.margin-l { margin: var(--gutter-large); }
.container.margin-l-v { margin: var(--gutter-large) 0; }
.container.margin-l-h { margin: 0 var(--gutter-large); }
.container.margin-l-left { margin-left: var(--gutter-large); }
.container.margin-l-right { margin-right: var(--gutter-large); }
.container.margin-l-top { margin-top: var(--gutter-large); }
.container.margin-l-bottom { margin-bottom: var(--gutter-large); }

.container.margin-s { margin: var(--gutter-small); }
.container.margin-s-v { margin: var(--gutter-small) 0; }
.container.margin-s-h { margin: 0 var(--gutter-small); }
.container.margin-s-left { margin-left: var(--gutter-small); }
.container.margin-s-right { margin-right: var(--gutter-small); }
.container.margin-s-top { margin-top: var(--gutter-small); }
.container.margin-s-bottom { margin-bottom: var(--gutter-small); }

.container.pad { padding: var(--gutter); }
.container.pad-v { padding: var(--gutter) 0; }
.container.pad-h { padding: 0 var(--gutter); }
.container.pad-left { padding-left: var(--gutter); }
.container.pad-right { padding-right: var(--gutter); }
.container.pad-top { padding-top: var(--gutter); }
.container.pad-bottom { padding-bottom: var(--gutter); }

.container.pad-l { padding: var(--gutter-large); }
.container.pad-l-v { padding: var(--gutter-large) 0; }
.container.pad-l-h { padding: 0 var(--gutter-large); }
.container.pad-l-left { padding-left: var(--gutter-large); }
.container.pad-l-right { padding-right: var(--gutter-large); }
.container.pad-l-top { padding-top: var(--gutter-large); }
.container.pad-l-bottom { padding-bottom: var(--gutter-large); }

.container.wrap {
	max-width: 100%;
	width: 75rem;
}

.container.fg-light { color: var(--light); }
.container.fg-highlight { color: var(--highlight); }

.container.bg-light { background: var(--light); }
.container.bg-highlight { background: var(--highlight); }
