@import '../../variables/sizing.css';

.container {
	display: flex;
}

.container.vertical { flex-direction: column; }
.container.horizontal { flex-direction: row; }

.container.align-center { align-items: center; }
.container.justify-center{ justify-content: center; }

.container.margin-v { margin: var(--gutter) 0; }
.container.margin-h { margin: 0 var(--gutter); }
.container.margin-left { margin-left: var(--gutter); }
.container.margin-right { margin-right: var(--gutter); }
.container.margin-top { margin-top: var(--gutter); }
.container.margin-bottom { margin-bottom: var(--gutter); }

.container.margin-large-v { margin: var(--gutter-large) 0; }
.container.margin-large-h { margin: 0 var(--gutter-large); }
.container.margin-large-left { margin-left: var(--gutter-large); }
.container.margin-large-right { margin-right: var(--gutter-large); }
.container.margin-large-top { margin-top: var(--gutter-large); }
.container.margin-large-bottom { margin-bottom: var(--gutter-large); }

.container.pad-v { padding: var(--gutter) 0; }
.container.pad-h { padding: 0 var(--gutter); }
.container.pad-left { padding-left: var(--gutter); }
.container.pad-right { padding-right: var(--gutter); }
.container.pad-top { padding-top: var(--gutter); }
.container.pad-bottom { padding-bottom: var(--gutter); }

.container.pad-large-v { padding: var(--gutter-large) 0; }
.container.pad-large-h { padding: 0 var(--gutter-large); }
.container.pad-large-left { padding-left: var(--gutter-large); }
.container.pad-large-right { padding-right: var(--gutter-large); }
.container.pad-large-top { padding-top: var(--gutter-large); }
.container.pad-large-bottom { padding-bottom: var(--gutter-large); }
